In [1]:
import pandas as pd
print(pd.__version__)

2.3.3

In [2]:
data = pd.read_csv('data/인구현황.csv')
print(data.shape)
print(type(data))

(18, 8)
<class 'pandas.core.frame.DataFrame'>

In [3]:
# head() 함수
data.head()

       행정기관코드   행정기관      총인구수       세대수  세대당 인구    남자 인구수    여자 인구수  남여 비율
0  1000000000     전국  51217221  24118928    2.12  25498324  25718897   0.99
1  1100000000  서울특별시   9331828   4482063    2.08   4505355   4826473   0.93
2  2600000000  부산광역시   3266598   1570403    2.08   1589912   1676686   0.95
3  2700000000  대구광역시   2363629   1104130    2.14   1159601   1204028   0.96
4  2800000000  인천광역시   3021010   1373827    2.20   1509243   1511767   1.00

In [4]:
# tail() 함수
data.tail()

        행정기관코드     행정기관     총인구수      세대수  세대당 인구   남자 인구수   여자 인구수  남여 비율
13  5200000000  전북특별자치도  1738690   864608    2.01   866030   872660   0.99
14  4600000000     전라남도  1788819   912412    1.96   902380   886439   1.02
15  4700000000     경상북도  2531384  1291568    1.96  1280547  1250837   1.02
16  4800000000     경상남도  3228380  1537492    2.10  1626926  1601454   1.02
17  5000000000  제주특별자치도   670368   314862    2.13   335255   335113   1.00

In [5]:
# info() 함수
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정기관코드  18 non-null     int64
 1   행정기관    18 non-null     object
 2   총인구수    18 non-null     int64
 3   세대수     18 non-null     int64
 4   세대당 인구  18 non-null     float64
 5   남자 인구수  18 non-null     int64
 6   여자 인구수  18 non-null     int64
 7   남여 비율   18 non-null     float64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.3+ KB

In [6]:
# describe() 함수, 숫자 타입인 컬럼의 통계함수 출력
data.describe()

,행정기관코드,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
count,1.800000e+01,1.800000e+01,1.800000e+01,18.000000,1.800000e+01,1.800000e+01,18.000000
mean,3.611111e+09,5.690802e+06,2.679881e+06,2.106111,2.833147e+06,2.857655e+06,1.000000
std,1.291551e+09,1.182867e+07,5.551980e+06,0.111626,5.887446e+06,5.941506e+06,0.033781
min,1.000000e+09,3.906850e+05,1.634320e+05,1.960000,1.944130e+05,1.962720e+05,0.930000
25%,2.825000e+09,1.458809e+06,7.070262e+05,2.022500,7.287245e+05,7.300848e+05,0.990000
50%,3.850000e+09,1.962696e+06,9.822705e+05,2.095000,9.992540e+05,9.634425e+05,1.000000
75%,4.675000e+09,3.176538e+06,1.496576e+06,2.140000,1.569745e+06,1.579032e+06,1.020000
max,5.200000e+09,5.121722e+07,2.411893e+07,2.390000,2.549832e+07,2.571890e+07,1.060000

In [7]:
#numpy np.number 속성을 사용해서 describe()
import numpy as np
data.describe(include=np.number)

,행정기관코드,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
count,1.800000e+01,1.800000e+01,1.800000e+01,18.000000,1.800000e+01,1.800000e+01,18.000000
mean,3.611111e+09,5.690802e+06,2.679881e+06,2.106111,2.833147e+06,2.857655e+06,1.000000
std,1.291551e+09,1.182867e+07,5.551980e+06,0.111626,5.887446e+06,5.941506e+06,0.033781
min,1.000000e+09,3.906850e+05,1.634320e+05,1.960000,1.944130e+05,1.962720e+05,0.930000
25%,2.825000e+09,1.458809e+06,7.070262e+05,2.022500,7.287245e+05,7.300848e+05,0.990000
50%,3.850000e+09,1.962696e+06,9.822705e+05,2.095000,9.992540e+05,9.634425e+05,1.000000
75%,4.675000e+09,3.176538e+06,1.496576e+06,2.140000,1.569745e+06,1.579032e+06,1.020000
max,5.200000e+09,5.121722e+07,2.411893e+07,2.390000,2.549832e+07,2.571890e+07,1.060000

In [8]:
# '전국'이 포함된 합계 행 제외
data_region_only = data[data['행정기관'].str.contains('전국') == False].copy()
# 정렬을 통해 상위 5개를 먼저 추출 (가장 인구가 많은 순서대로)
top5_data = data_region_only.sort_values(by='총인구수', ascending=False).head(5)
result = top5_data.loc[:, ['행정기관', '총인구수']].reset_index(drop=True)
result.index = result.index + 1  # 0~4인 인덱스를 1~5로 변환


print(result)

    행정기관      총인구수
1    경기도  13694685
2  서울특별시   9331828
3  부산광역시   3266598
4   경상남도   3228380
5  인천광역시   3021010

In [9]:
# 1-1 subplots() 함수를 사용하여 axes 객체를 생성하기
figure, (axes1, axes2)= plt.subplots(nrows=2, ncols=1)
figure.set_size_inches(18,12)
print(figure)
print(axes1)
print(axes2)
# seaborn의 barplot() 함수 호출하기 - 행정구역과 인구수
sns.barplot(data=seoul_df.sort_values(by='인구수', ascending=False), x='행정구역', y='인구수', ax=axes1, hue='행정구역')
# seaborn의 barplot() 함수 호출하기 - 행정구역과 면적
sns.barplot(data=seoul_df.sort_values(by='면적', ascending=False), x='행정구역', y='면적', ax=axes2, hue='행정구역')
#plt.show()

NameError: name 'plt' is not defined

In [ ]:
# 2. 세대당 인구수 높은 지역 Top5

      행정기관  세대당 인구
1  세종특별자치시    2.39
2      경기도    2.26
3    울산광역시    2.22
4    인천광역시    2.20
5    대구광역시    2.14

In [ ]:
# 2-2